.gps_statusbar {
	height: 30px;
	width: 100%;
	background: #181818;
	position: top;
        padding-top: 8px;
        text-align: right;
}

.wrapper {
    width: 100%;
    height: 140px;
    overflow: hidden;
}

h1 {
    font-size: 150%;
}

.first {
    height: 140px;
    width: 47%;
    float: left;
}

.second {
    height: 140px;
    overflow: hidden;
}

iframe {
    margin-top: 30px;
}