* {
	margin: 0;
	padding: 0;

	font: 11px "Myriad Pro", "Verdana", sans-serif;
}

body {
	background: #FFF;
	height: 100%;
}

.statusbar {
	height: 30px;
	width: 100%;
	background: #181818;
	position: fixed;
}

.statusbar img {

}

.right {
	float: right;
}

#musiclibrary {
	padding-top: 30px;
	padding-bottom: 80px;
	overflow: scroll;
	margin: 0 auto;

	text-align: center;
}

.album {
	margin: 20px;
	display: inline-block;
}

.album > img {
	width: 200px;
}

#albuminfo {
	background: #000;
	height: 200px;
	width: 100%;
	color: #FFF;
}

#playercontrol {
	background: -webkit-linear-gradient(top, #eaeaea, #dddddd);
	border-top: 1px solid #CCC;
	height: 70px;
	width: 100%;

	bottom: 0;
	position: fixed;
}

.button {
	padding: 0 4px;
}

.small {
	padding-bottom: 6px;
}

#nowplaying {
	width: 350px;
	background: -webkit-linear-gradient(top, #eaf0f3, #a4a8ad);
	border-radius: 5px;
	padding: 6px 7px 5px;
	margin: 10.5px auto;

	box-shadow: 0 1px 0 #fff, inset 0 0 5px #555;
	text-shadow: 0 1px #ccc;
	text-align: center;
	color: #303030;
}
