* {
	padding: 0;
	margin: 0;
}

body {
	background: url('../img/background.png') no-repeat center center fixed;
	background-size: cover;
}

a {
	text-decoration: none;
}

#start_container {
		margin: 0px auto;
		text-align: center;
}

.start_gps {
	width: 65%;
	height: 300px;
	clear: both;
		
	border: 1px solid #000;
	border-radius: 7px;
    -moz-border-radius: 7px;

	font-size: 2000%;

	margin: 0px auto;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 25px 0px;
		
	background-image: -webkit-linear-gradient(top, #2F2727, #1a82f7); 
		
	box-shadow: 0 0 5px 5px #888;
}


.start-button {
	width: 280px;
	height: 210px;
	margin: 0 20px;
	background: #CCC;
	display: inline-block;

	text-align: center;
	border-radius: 7px;
}

.start-button h1 {
	margin-top: 83px;
	padding: 5px 0;
	background: #000;
	font: bold 24px "Myriad Pro", "Verdana", sans-serif;
	color: #EEE;
}

.wide {
	margin: 110px auto 20px;
	width: 930px;
	display: block;
}

.start-button img {
	width: 150px;
}

.gps {
	background: url('../img/gps-bg.jpg') no-repeat center center;
	background-size: cover;
}

.music {
	background: url('../img/music-bg2.jpg') no-repeat center center;
	background-size: cover;
}

.movie {
	background: url('../img/movie-bg.png') no-repeat center center;
	background-size: cover;
}

.settings {
	background: url('../img/settings-bg.png') no-repeat center center;
	background-size: cover;
}

#start_container {
	width: 994px;
	margin: 0 auto;
}

.statusbar_cellular {
	float: left;
	width: 4px;
	background-color: red;
	margin-left: 4px;		
}

#statusbar {
	top: 0;
	position: fixed;
	box-shadow: 3px 0 15px #000;

	background: #000;
	height: 30px;
	width: 100%;
}

.statusbar_cellular._1 {
	height: 20px;
	margin-top: 4px;
}
.statusbar_cellular._2 {
	height: 15px;
	margin-top: 9px;
}
.statusbar_cellular._3 {
	height: 10px;
	margin-top: 14px;
}
.statusbar_cellular._4 {
	height: 5px;
	margin-top: 19px;
}

.statusbar_cellular.green {
	background-color: chartreuse;
}

#statusbar_clock {
	float: right;
	color: #fff;
	font-size: 25px;
	margin-right: 10px;
}
