a {
	text-decoration: none;
}

.start_container {
	width: 100%;
	height: 100%;
	padding-top: 30px;

	text-align: center;
}

.start_gps {
	width: 65%;
	height: 300px;
	clear: both;
		
	border: 1px solid #000;
	border-radius: 7px;
    -moz-border-radius: 7px;

	font-size: 2000%;

	margin: 0px auto;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 25px 0px;
		
	background-image: -webkit-linear-gradient(top, #2F2727, #1a82f7); 
		
	box-shadow: 0 0 5px 5px #888;
}


.start-button {
	width: 290px;
	margin: 0 20px;
	padding: 0;
	background: #CCC;
	display: inline-block;

	border-radius: 7px;
}

.wide {
	margin: 110px auto 20px;
	margin-top: 110px;
	width: 950px;
	display: block;
}

.start-button img {
	width: 150px;
}


.statusbar_cellular {
	float: left;
	width: 4px;
	background-color: red;
	margin-left: 4px;		
}

.statusbar_cellular._1 {
	height: 20px;
	margin-top: 4px;
}
.statusbar_cellular._2 {
	height: 15px;
	margin-top: 9px;
}
.statusbar_cellular._3 {
	height: 10px;
	margin-top: 14px;
}
.statusbar_cellular._4 {
	height: 5px;
	margin-top: 19px;
}

.statusbar_cellular.green {
	background-color: chartreuse;
}

#statusbar_clock {
	float: right;
	color: #fff;
	font-size: 25px;
	margin-right: 10px;
}
