* {
	margin: 0;
	padding: 0;

	font: 11px "Myriad Pro", "Verdana", sans-serif;
}

body {
	background: #FFF;
	height: 100%;
}

.statusbar {
	height: 30px;
	width: 100%;
	background: #181818;
	position: fixed;
}

.statusbar img {

}

.right {
	float: right;
}

#musiclibrary {
	padding-top: 30px;
	padding-bottom: 80px;
	overflow: scroll;
	margin: 0 auto;

	text-align: center;
}

.album {
	margin: 20px;
	display: inline-block;
}

.album > img {
	width: 200px;
}

#albuminfo {
	background: #000;
	height: 200px;
	width: 100%;
	color: #FFF;
}

#playercontrol {
	background: #CCC;
	height: 80px;
	width: 100%;

	bottom: 0;
	position: fixed;
}
