* {
	margin: 0;
	padding: 0;

	font: 11px "Myriad Pro", "Verdana", sans-serif;
}

body {
	background: #eee;

	height: 100%;
}

.statusbar {
	height: 30px;
	width: 100%;
	background: #181818;
	position: top;
        padding-top: 8px;
        text-align: right;
}

.navbar {
	height: 2px;
	width: 100%;
	background: #181818;
	position: top;
        text-align: right;
}